.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.information > table {
  margin: 30px 0;
}

.information > table > thead > tr {
  background-color: lightgray;
}

.information > table > thead > tr > td {
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
}

.information > table > thead > tr > th {
  vertical-align: top;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.information > table > tbody > tr > td {
  border: 1px solid #ddd;
  padding: 8px 10px;
  font-size: 16px;
}

button {
  background-color: red;
  border: 1px solid red;
  padding: 4px 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 86, 86);
}

.information__search {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.information__searchInput {
  width: 40vw;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid black;
  height: 30px;
}

.information__searchIcon {
  background-color: black;
  color: white;
  height: 30px;
  padding: 9px;
  border-radius: 0 5px 5px 0;
}

.information__searchIcon:hover {
  cursor: pointer;
  background-color: rgb(44, 43, 43);
}
